Library/
Temp/
Obj/
.utmp/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/
ExportedObj/
Recordings/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt
.vs/
.idea/
.vscode/
.agents/
skills-lock.json
